.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Form {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

.Form input {
  border: 1px solid black;
  flex: 1;
  padding: 0.4rem;
  font-size: 1em;
}

.Form button {
  font-size: 1em;
}
